@import "variables.less";

.org-builtin {
    color: #555588;
}

.org-comment-delimiter, .org-comment {
    color: #919191;
}

.org-constant {
    color: #777755;
}

.org-doc {
    color: #ba4727;
}

.org-function-name {
    color: #336688;
}

.org-keyword {
    color: #545454;
}

.org-negation-char {
    color: #b86833;
}

.org-preprocessor {
    color: #775555;
}

.org-regexp-grouping-backslash {
    color: #b86833;
}
.org-regexp-grouping-construct {
    color: #777722;
}


.org-string {
    color: #ba2727;
}

.org-type {
    color: #557755;
}

.org-variable-name {
    color: #666699;
}

.org-warning-1 {
    color: #ff0000;
    font-weight: bold;
}
